*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: hsl(216, 100%, 15%);
  --secondary-color: hsl(216, 100%, 23%);
  --font-color: hsl(217, 6%, 74%);

  font-size: 18px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--primary-color);
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  color: var(--font-color);
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 1.5;
  margin-bottom: 0.7rem;
}

h1 {
  font-size: 2.5em;
}

a {
  text-decoration: none;
  color: var(--font-color);
}

button {
  all: unset;
  cursor: pointer;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

.text-center {
  text-align: center;
}

.link-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
}

a.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
}

a.logo > img {
  width: auto;
  height: 38px;
}

nav {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  padding: 1rem;
  gap: 3rem;
  background-color: var(--secondary-color);
  box-shadow: 0 1px 10px #0000001f, 0 4px 5px #00000024;
}

nav a {
  font-weight: 500;
}

nav > .mobile-toggle-btn {
  display: none;
  font-size: 1.5rem;
}

nav > ul.menu {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-items: center;
  list-style: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 5vw;
  padding-right: 5vw;
}

main > section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10vw;

  width: 100%;
  min-height: 95vh;
}

main > section > aside.image > img {
  width: 40vw;
}

section.intro {
  align-items: center;
}

section.about-me {
  gap: 5vw;
}

section.about-me > aside.image > img {
  width: 20vw;
}

section.skills {
  gap: 5vw;
}

section.skills > aside.details > .skill-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  gap: 1rem;
}

section.skills > aside.details > .skill-list > span {
  --icon-size: 2.5rem;

  text-align: center;
}

section.skills > aside.details > .skill-list > span > i,
section.skills > aside.details > .skill-list > span > img {
  margin-bottom: 0.5rem;
}

section.skills > aside.details > .skill-list > span > i {
  font-size: var(--icon-size);
  color: hsl(255, 98%, 80%);
}

section.skills > aside.details > .skill-list > span > img {
  width: var(--icon-size);
}

section.skills > aside.image > img {
  width: 20vw;
}

section.references > aside.image > img {
  width: 20vw;
}

section.references > aside.details > a {
  padding: 0.5rem;
  background: hsl(255, 98%, 80%);
  border-radius: 5px;
  color: hsl(0, 0%, 9%);
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
  box-shadow: 0 1px 10px #0000001f, 0 4px 5px #00000024;
  padding: 1rem;
}

footer > aside.signature {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

footer > aside.links {
  text-align: right;
}

footer > aside.links > a {
  margin: 0.2rem;
  font-size: 1.5rem;
}

@media screen and (max-width: 767px) {
  nav {
    justify-content: space-between;
  }

  nav > .mobile-toggle-btn {
    display: block;
    font-size: 1.5rem;
  }

  nav > .mobile-toggle-btn .mobile-toggle-btn-input {
    appearance: none;
  }

  nav > ul.menu:has(+ .mobile-toggle-btn .mobile-toggle-btn-input:not(:checked)) {
    display: none;
  }

  nav > ul.menu:has(+ .mobile-toggle-btn .mobile-toggle-btn-input:checked) {
    position: absolute;
    padding: 1rem;
    right: 0;
    top: 74px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    align-content: space-around;
    gap: 2rem;
    flex-wrap: wrap;
    background-color: var(--secondary-color);
  }

  main > section {
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5vw;
  }

  main > section:not(.intro) {
    height: auto;
    padding-bottom: 3rem;
  }

  main > section:not(.intro) > aside.image > img {
    display: none;
  }

  section.intro > aside.image > img {
    display: none;
  }

  footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
  }
}

@media only screen and (min-device-width: 480px) and (max-device-width: 767px) and (orientation: landscape) {
  section.intro {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
