:root {
  --card-primary-color: #00c5f7;
  --card-secondary-color: #64ffda;
}

main > section {
  align-items: flex-start;
}

main > section > article {
  width: 100%;
}

section > article > .app-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

section > article > .app-list > .app-item {
  padding: 20px;
  box-shadow: 0 0 25px var(--card-primary-color);
  border-radius: 5px;
}

section > article > .app-list > .app-item > .title {
  height: 3rem;
}

section > article > .app-list > .app-item > .preview {
  position: relative;
}

section > article > .app-list > .app-item > .preview > img {
  width: 100%;
}

section > article > .app-list > .app-item > .preview > .hover-item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
}

section > article > .app-list > .app-item > .preview > .hover-item:hover {
  opacity: 1;
  background-color: hsla(0, 0%, 0%, 0.75);
}

section > article > .app-list > .app-item > .preview > .hover-item > button > i {
  font-size: 3rem;
}

section > article > .app-list > .app-item > p.description {
  height: 7rem;
  text-align: right;
}

section > article > .app-list > .app-item > .skill-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 2rem);
  gap: 0.5rem;
  justify-content: end;
  padding-top: 15px;
}

section > article > .app-list > .app-item > .skill-list > span {
  --icon-size: 2rem;
}

section > article > .app-list > .app-item > .skill-list > span > i {
  font-size: var(--icon-size);
  color: hsl(255, 98%, 80%);
}

section > article > .app-list > .app-item > .skill-list > span > img {
  width: var(--icon-size);
}

section > article > .app-list > .app-item > .links {
  display: flex;
  padding-top: 20px;
  gap: 1rem;
}

section > article > .app-list > .app-item > .links > .btn {
  flex: 1;
  width: 40%;
  padding: 0.3rem 0;
  background-color: #fff;
  color: #333;
  text-align: center;
}

section > article > .app-list > .app-item > .links > .btn--disabled {
  opacity: 0.4;
}

section > article > .app-list > .app-item > .links > .btn--primary {
  background-color: var(--card-primary-color);
}

section > article > .app-list > .app-item > .links > .btn--secondary {
  background-color: var(--card-secondary-color);
}
